/* Put your CSS here */
.img-responsive {
	margin: 0 auto;
}
body {
  background-image: url('../img/brickwall.png');
}
.container {
  background: white;
}
.ember-application {
  margin: 0;
}
.top {
  margin-top: 1em;
}
footer {
  margin: 1em;
}
hr {
  margin: .75em 0;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  background-color: #48458B;
}
a {
  color: #48458B;
}

.centerimg {
  margin: 0 auto;
  border: 1px solid #48458B;
  border-radius: 3px;
}

div.social {
    margin-top: 10px;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}
