/* Put your CSS here */
.img-responsive {
	margin: 0 auto;
}
body {
  background-image: url('../img/brickwall.png');
}
.container {
  background: white;
}
.ember-application {
  margin: 0;
}
.top {
  margin-top: 1em;
}
footer {
  margin: 1em;
}
hr {
  margin: .75em 0;
}